<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <main>
    <application name="@poc/header" loader="" error="header" props="store,secretKey"></application>
    <route path="image">
      <application name="@poc/image-scene" props="store"></application>
    </route>
  </main>
</single-spa-router>
